.home .ant-tabs,
.home .ant-tabs-content,
.home #rc-tabs-0-panel-core {
    @apply h-[80vh];
}

.home .ant-list {
    @apply overflow-scroll;
}

.home .ant-card-body {
    border-radius: 8px !important;
}

.home .list-report {
    overflow: auto;
    padding: 10px;
}

/* ON HOVER REPORT */


/* FOLDER */

.home .ant-tabs-nav {
    width: 25vw
}


/* FOLDER -  TITLE */
.home .ant-tabs-tab-active {
    @apply bg-[#2673a7] px-5 py-5;
}

.home .ant-tabs-tab-active p {
    @apply text-white;
    text-wrap: wrap;
}

.home .folder-title {
    font-size: 1.3em;
    font-weight: 700;
}
 